body {
    background: #0c1524;
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 40px;
    width: 500px;
    background: #182235;
    padding: 20px;
    border-radius: 10px;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 12px;
    background: #4caf50;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#outputText {
    background: #111a2b;
    padding: 15px;
    border-radius: 5px;
    min-height: 50px;
}
